@import "tailwindcss";

/* @tailwind utilities; */

@layer components {
    .container {
        @apply mx-auto;
    }
}

@custom-variant dark (&:where(.dark, .dark *));



/* 
label:focus-within>span,
input:not(:placeholder-shown)+span {
    color: purple;
    top: 23px;
} */
